@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

:root {
  --Grayish-Blue: rgb(152, 166, 189);
  --White: rgb(255, 255, 255);
  --Light-Gray: rgb(229, 239, 245);
  --Bright-Yellow: rgb(192, 223, 52);
  --Cyan: rgb(42, 178, 175);
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--Light-Gray);
  height: 100%;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.container {
  padding: 2em 0;
}

.main {
  width: 21em;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 1em auto;
}

.top-content {
  background-color: var(--White);
  padding: 2em 1.5em;
}

.top-content p {
  color: var(--Grayish-Blue);
  line-height: 1.8;
}

h1 {
  color: var(--Cyan);
  font-size: 22px;
  margin-bottom: 1.2em;
}

h2 {
  color: var(--Bright-Yellow);
  font-size: 19px;
  margin: 1.2em 0;
}
h4 {
  font-size: 20px;
  margin-bottom: 1.2em;
}

.bottom-content {
  color: var(--White);
}

.flex-item {
  padding: 1.5em;
  background-color: var(--Cyan);
}

.price {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  margin: 0.3em 0;
}

.price span {
  margin-left: 0.5em;
  opacity: 0.8;
  font-size: 16px;
  font-weight: lighter;
}

.item2 {
  opacity: 0.8;
}

.item2 li {
  list-style-type: none;
  opacity: 0.8;
  margin-top: 0.3em;
}

.signUpBtn {
  margin-top: auto;
  padding: 1em;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--Bright-Yellow);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: rgb(62, 82, 163);
}

@media screen and (min-width: 376px) {
  
  body {
     position: relative;
    height: 100vh;
  }

  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }

  .main {
    width: 40em;
  }

  .bottom-content {
    display: flex;
  }

  .top-content,
  .flex-item {
    padding: 2em;
  }

  .flex-item {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
  }
}
